@{

}

<h1> Add Chocolate </h1>

<form method="post">
  <input name="name" type="text" />
  <textarea name="description" type="text">Enter Description here...</textarea>
  <input type="submit" value="Add Chocolate" />
</form>
