{% extends "/Shared/layout.html" %}

{% block content %}
<div>
  <h1> It's {{name}}'s turn! </h1>
  <h2> Chapter {{chNum}} </h2>

  <h4>{{chText}}</h4>

  <br>
  <h3>{{question}}</h3>
  <form action="{{url_for('game.updatePlayer')}}" method="post">
    <input type="radio" name="choice" value="A"> {{optionA}}
    <!-- TODO: refactor code to make text for A/B dynamic to each chapter -->
    <br>
    <input type="radio" name="choice" value="B">B
    <br>
    <input type="submit" name="next" value="Next">
  </form>
</div>
{% endblock %}
