.container{
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  font-size: 200%;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;

}

.chText {
  font-size: 150%;
}

.chQuestion {
  font-size: 200%;
}

.error {
  color: red;
}

.chOptions {
  font-size: 175%;
}

.form {
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameOver {
  font-size: 500%;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;

}
