.container{
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header{
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;

}

p {
  font-size: 150%;
}

.form {
  font-size: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
