@* YOU ARE HERE!! Your view should display an unordered list (that is, a <ul>) of category names. The list will look a bit plain for now, but we will make it more interesting later on. *@

@model List<CheeseMVC.Models.CheeseCategory>

  <table class="table">

      <tr>
          <th>Name</th>
      </tr>

      @foreach (var category in Model)
      {
          <tr>
            <td>@category.Name</td>
          </tr>
      }
  </table>

    <p><a asp-controller="Category" asp-action="Add">Add Category</a></p>
