ul {
    list-style-type: none;
    margin: 10;
    float: center;
    padding: 15px;
    overflow: hidden;
    background-color: black;
}

li {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 10px;
}

li:hover {
  background-color: pink;
}
/* Changes the color of block on hover */

.header {
  padding: 10px;
  font-family: cursive;
  font-size: 300%;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 200%;
  font-family: cursive;

}
.thumbnail {
    display:inline;
    margin:auto;
    width: 25%;
    border: 5px solid pink;
    color: #eeeeee;
    padding: 10px;
}

body {
  text-align: center;
  background-color: gray;
  color: pink;
  font-family: fantasy;
  font-size: 100%;
  margin: auto;
  width: 90%;
  padding: 1%;
}

.content {
  align: left;
  border: 5px solid pink;
  color: #eeeeee;
  padding: 10px;
}

p {
    font-size: 30px;
    margin: auto;
    width: 50%;
    border: 3px solid pink;
    padding: 10px;
}
