.app {
  margin: 50px;
  text-align: center;
}

.header {

}

.website-title {
  padding: 10px;
}

.prompt {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt .padding {
  padding: inherit;
}

.prompt .text {
  border-style: solid;
}

.prompt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

img {
  height: 250px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.hidden {
  display: none;
}
