<!doctype html>
<html>
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="templates/main.css">


    </head>
<body>
  <nav class="navbar navbar-expand-sm">

    <!-- Links -->
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/">Home</a>
      </li>
      {% if 'user' not in session %}
        <li>
          <a class="nav-link" href="/signup"> Sign Up </a>
        </li>
        <li>
          <a class="nav-link" href="/login"> Login </a>
        </li>
      {% endif %}
      {% if 'user' in session %}
        <li>
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li>
          <a class="nav-link" href="/blogs?username={{ session['user'] }}">My Blogs</a>
        </li>
        <li>
          <a class="nav-link" href="/blogs/all">All Blogs</a>
        </li>
      {% endif %}
    </ul>
  </nav>

    {% block content %}
    {% endblock %}


</body>
</html>
