{% extends "/Shared/layout.html" %}

{% block content %}
<div>
  <div>
    <h1>HOW MANY PLAYERS ARE THERE?</h1>
    <h3>(Choose a number from 1-5)</h3>
  </div>

  <form action="/Intro/PlayerName" method="post">

    <input type="text" name="player_num"/>
    <br>
    <input type="submit" value="Submit" />

  </form>
 <!-- TODO:Add validation for only accept up to 5 players and ints(no letters or other characters) -->

 <!-- TODO: Turn this into a dropdown options to limit user error -->
</div>
{% endblock %}
