{% extends "layout.html" %}

{% block body %}
  <div class="play">
    <div>
      <h1> Chapter 3 </h1>
      <div>
        <div>
          <p>
            Player Choice is: {{ player_choice }}
          </p>
          {{ chapter }}
        </div>
        <br>
        <form action ='/chapters/4' method="post">
          <label>
            {{ question }}
          </label>
          <p>
          <input type='radio' name='player_choice' value = 'A'/> {{ option1 }} <br>
          <input type='radio' name='player_choice' value = 'B'/> {{ option2 }} <br>
          </p>
          <input type='submit' value='Next'/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
