{% extends "layout.html" %}

{% block body %}
  <div class="play">
    <div>
      <h1> Let's Play!</h1>
      <div>
        <form action ='/play/createplayer' method="post">
          <label>
            How many players are there?
          </label>
          <input type='text' value='1' name='num_players'/>
          <input type='submit' value='Next'/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


<!-- {% for player in players %}
  <h2> Player Name: {{player.name}}</h2>
  {% if player.life_status %}
    <p> Life Status: Alive </p>
  {% else %}
    <p> Life Status: Dead </p>
  {% endif %}
  {% endfor %} -->
